--
-- PostgreSQL database dump
--

\restrict wFGCDg0E8ekJzapKKGYeGL61aJGvd3vDoctkwXsRp8GEZ51CDBszbXoA1mLiT8G

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id integer NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id integer NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id integer NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_academicyear; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_academicyear (
    academic_year_id integer NOT NULL,
    academic_year_start integer NOT NULL,
    academic_year_end integer NOT NULL
);


ALTER TABLE public.ucap_backend_academicyear OWNER TO postgres;

--
-- Name: ucap_backend_academicyear_academic_year_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_academicyear ALTER COLUMN academic_year_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_academicyear_academic_year_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_assessment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_assessment (
    assessment_id integer NOT NULL,
    assessment_title character varying(225) NOT NULL,
    highest_score integer NOT NULL,
    assessment_component_id_id integer NOT NULL,
    assessment_section_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_assessment OWNER TO postgres;

--
-- Name: ucap_backend_assessment_assessment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_assessment ALTER COLUMN assessment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_assessment_assessment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_assessmentclassification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_assessmentclassification (
    assessment_classification_id integer NOT NULL,
    assessment_classification character varying(255) NOT NULL,
    "AC_assessment_id_id" integer NOT NULL
);


ALTER TABLE public.ucap_backend_assessmentclassification OWNER TO postgres;

--
-- Name: ucap_backend_assessmentclassif_assessment_classification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_assessmentclassification ALTER COLUMN assessment_classification_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_assessmentclassif_assessment_classification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_campus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_campus (
    campus_id integer NOT NULL,
    campus_name character varying(225) NOT NULL
);


ALTER TABLE public.ucap_backend_campus OWNER TO postgres;

--
-- Name: ucap_backend_campus_campus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_campus ALTER COLUMN campus_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_campus_campus_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_co_po_mapping; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_co_po_mapping (
    id bigint NOT NULL,
    mapping character varying(255) NOT NULL,
    mapping_course_outcome_id_id integer NOT NULL,
    mapping_program_outcome_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_co_po_mapping OWNER TO postgres;

--
-- Name: ucap_backend_co_po_mapping_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_co_po_mapping ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_co_po_mapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_college; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_college (
    college_id integer NOT NULL,
    college_name character varying(225) NOT NULL,
    college_campus_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_college OWNER TO postgres;

--
-- Name: ucap_backend_college_college_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_college ALTER COLUMN college_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_college_college_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_component; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_component (
    component_id integer NOT NULL,
    component_name character varying(225) NOT NULL,
    component_percentage integer NOT NULL,
    component_course_unit_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_component OWNER TO postgres;

--
-- Name: ucap_backend_component_component_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_component ALTER COLUMN component_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_component_component_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_course (
    course_code integer NOT NULL,
    course_title character varying(255) NOT NULL,
    course_credit_id_id integer NOT NULL,
    course_program_id_id integer NOT NULL,
    course_semester_id_id integer NOT NULL,
    course_year_level_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_course OWNER TO postgres;

--
-- Name: ucap_backend_courseoutcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_courseoutcome (
    course_outcome_id integer NOT NULL,
    description character varying(255) NOT NULL,
    "CO_assessment_id_id" integer NOT NULL,
    "CO_course_code_id" integer NOT NULL
);


ALTER TABLE public.ucap_backend_courseoutcome OWNER TO postgres;

--
-- Name: ucap_backend_courseoutcome_course_outcome_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_courseoutcome ALTER COLUMN course_outcome_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_courseoutcome_course_outcome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_courseterm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_courseterm (
    course_term_id integer NOT NULL,
    course_term character varying(225) NOT NULL
);


ALTER TABLE public.ucap_backend_courseterm OWNER TO postgres;

--
-- Name: ucap_backend_courseterm_course_term_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_courseterm ALTER COLUMN course_term_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_courseterm_course_term_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_courseunit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_courseunit (
    course_unit_id integer NOT NULL,
    course_unit character varying(225) NOT NULL,
    course_unit_percentage integer NOT NULL,
    course_unit_term_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_courseunit OWNER TO postgres;

--
-- Name: ucap_backend_courseunit_course_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_courseunit ALTER COLUMN course_unit_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_courseunit_course_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_credit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_credit (
    credit_id integer NOT NULL,
    lecture_unit integer NOT NULL,
    laboratory_unit integer NOT NULL,
    credit_unit integer NOT NULL
);


ALTER TABLE public.ucap_backend_credit OWNER TO postgres;

--
-- Name: ucap_backend_credit_credit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_credit ALTER COLUMN credit_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_credit_credit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_department (
    department_id integer NOT NULL,
    department_name character varying(255) NOT NULL,
    department_campus_id_id integer NOT NULL,
    department_college_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_department OWNER TO postgres;

--
-- Name: ucap_backend_department_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_department ALTER COLUMN department_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_department_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_loadedcoursetable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_loadedcoursetable (
    loaded_course_id integer NOT NULL,
    loaded_academic_year_id_id integer NOT NULL,
    loaded_course_code_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_loadedcoursetable OWNER TO postgres;

--
-- Name: ucap_backend_loadedcoursetable_loaded_course_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_loadedcoursetable ALTER COLUMN loaded_course_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_loadedcoursetable_loaded_course_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_program; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_program (
    program_id integer NOT NULL,
    program_name character varying(255) NOT NULL,
    program_department_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_program OWNER TO postgres;

--
-- Name: ucap_backend_program_program_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_program ALTER COLUMN program_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_program_program_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_programoutcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_programoutcome (
    program_outcome_id integer NOT NULL,
    description character varying(255) NOT NULL,
    "PO_course_code_id" integer NOT NULL
);


ALTER TABLE public.ucap_backend_programoutcome OWNER TO postgres;

--
-- Name: ucap_backend_programoutcome_program_outcome_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_programoutcome ALTER COLUMN program_outcome_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_programoutcome_program_outcome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_rawscore; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_rawscore (
    id bigint NOT NULL,
    score integer,
    rawscore_assessment_id_id integer NOT NULL,
    rawscore_student_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_rawscore OWNER TO postgres;

--
-- Name: ucap_backend_rawscore_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_rawscore ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_rawscore_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_role; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_role (
    role_id integer NOT NULL,
    role character varying(255) NOT NULL
);


ALTER TABLE public.ucap_backend_role OWNER TO postgres;

--
-- Name: ucap_backend_role_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_role ALTER COLUMN role_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_role_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_section; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_section (
    section_id integer NOT NULL,
    year_and_section character varying(225) NOT NULL,
    result_sheet_remarks character varying(225) NOT NULL,
    result_sheet_status character varying(225) NOT NULL,
    section_instructor_assigned_id_id integer NOT NULL,
    section_loaded_course_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_section OWNER TO postgres;

--
-- Name: ucap_backend_section_section_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_section ALTER COLUMN section_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_section_section_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_semester; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_semester (
    semester_id integer NOT NULL,
    semester_type character varying(255) NOT NULL
);


ALTER TABLE public.ucap_backend_semester OWNER TO postgres;

--
-- Name: ucap_backend_semester_semester_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_semester ALTER COLUMN semester_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_semester_semester_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_student (
    student_id integer NOT NULL,
    student_name character varying(225) NOT NULL,
    remarks character varying(225) NOT NULL,
    student_section_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_student OWNER TO postgres;

--
-- Name: ucap_backend_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_user (
    user_id integer NOT NULL,
    first_name character varying(255) NOT NULL,
    middle_name character varying(255),
    last_name character varying(255) NOT NULL,
    suffix character varying(255),
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    user_department_id_id integer NOT NULL,
    user_role_id_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_user OWNER TO postgres;

--
-- Name: ucap_backend_yearlevel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_yearlevel (
    year_level_id integer NOT NULL,
    year_level character varying(255) NOT NULL
);


ALTER TABLE public.ucap_backend_yearlevel OWNER TO postgres;

--
-- Name: ucap_backend_yearlevel_year_level_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_yearlevel ALTER COLUMN year_level_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_yearlevel_year_level_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ucap_backend_academicyear; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_academicyear (academic_year_id, academic_year_start, academic_year_end) FROM stdin;
\.


--
-- Data for Name: ucap_backend_assessment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_assessment (assessment_id, assessment_title, highest_score, assessment_component_id_id, assessment_section_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_assessmentclassification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_assessmentclassification (assessment_classification_id, assessment_classification, "AC_assessment_id_id") FROM stdin;
\.


--
-- Data for Name: ucap_backend_campus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_campus (campus_id, campus_name) FROM stdin;
1	USTP-CDO
\.


--
-- Data for Name: ucap_backend_co_po_mapping; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_co_po_mapping (id, mapping, mapping_course_outcome_id_id, mapping_program_outcome_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_college; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_college (college_id, college_name, college_campus_id_id) FROM stdin;
2	College of Engineering and Architecture	1
\.


--
-- Data for Name: ucap_backend_component; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_component (component_id, component_name, component_percentage, component_course_unit_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_course; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_course (course_code, course_title, course_credit_id_id, course_program_id_id, course_semester_id_id, course_year_level_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_courseoutcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_courseoutcome (course_outcome_id, description, "CO_assessment_id_id", "CO_course_code_id") FROM stdin;
\.


--
-- Data for Name: ucap_backend_courseterm; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_courseterm (course_term_id, course_term) FROM stdin;
\.


--
-- Data for Name: ucap_backend_courseunit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_courseunit (course_unit_id, course_unit, course_unit_percentage, course_unit_term_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_credit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_credit (credit_id, lecture_unit, laboratory_unit, credit_unit) FROM stdin;
\.


--
-- Data for Name: ucap_backend_department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_department (department_id, department_name, department_campus_id_id, department_college_id_id) FROM stdin;
1	Electronics Engineering	1	2
\.


--
-- Data for Name: ucap_backend_loadedcoursetable; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_loadedcoursetable (loaded_course_id, loaded_academic_year_id_id, loaded_course_code_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_program; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_program (program_id, program_name, program_department_id_id) FROM stdin;
1	Bachelor of Science in Electronics Engineering	1
\.


--
-- Data for Name: ucap_backend_programoutcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_programoutcome (program_outcome_id, description, "PO_course_code_id") FROM stdin;
\.


--
-- Data for Name: ucap_backend_rawscore; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_rawscore (id, score, rawscore_assessment_id_id, rawscore_student_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_role; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_role (role_id, role) FROM stdin;
1	Instructor
2	Administrative
\.


--
-- Data for Name: ucap_backend_section; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_section (section_id, year_and_section, result_sheet_remarks, result_sheet_status, section_instructor_assigned_id_id, section_loaded_course_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_semester; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_semester (semester_id, semester_type) FROM stdin;
\.


--
-- Data for Name: ucap_backend_student; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_student (student_id, student_name, remarks, student_section_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_user (user_id, first_name, middle_name, last_name, suffix, email, password, user_department_id_id, user_role_id_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_yearlevel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_yearlevel (year_level_id, year_level) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 108, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, false);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 27, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 15, true);


--
-- Name: ucap_backend_academicyear_academic_year_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_academicyear_academic_year_id_seq', 1, false);


--
-- Name: ucap_backend_assessment_assessment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_assessment_assessment_id_seq', 1, false);


--
-- Name: ucap_backend_assessmentclassif_assessment_classification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_assessmentclassif_assessment_classification_id_seq', 1, false);


--
-- Name: ucap_backend_campus_campus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_campus_campus_id_seq', 1, true);


--
-- Name: ucap_backend_co_po_mapping_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_co_po_mapping_id_seq', 1, false);


--
-- Name: ucap_backend_college_college_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_college_college_id_seq', 2, true);


--
-- Name: ucap_backend_component_component_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_component_component_id_seq', 1, false);


--
-- Name: ucap_backend_courseoutcome_course_outcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_courseoutcome_course_outcome_id_seq', 1, false);


--
-- Name: ucap_backend_courseterm_course_term_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_courseterm_course_term_id_seq', 1, false);


--
-- Name: ucap_backend_courseunit_course_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_courseunit_course_unit_id_seq', 1, false);


--
-- Name: ucap_backend_credit_credit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_credit_credit_id_seq', 1, false);


--
-- Name: ucap_backend_department_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_department_department_id_seq', 1, true);


--
-- Name: ucap_backend_loadedcoursetable_loaded_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_loadedcoursetable_loaded_course_id_seq', 1, false);


--
-- Name: ucap_backend_program_program_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_program_program_id_seq', 1, true);


--
-- Name: ucap_backend_programoutcome_program_outcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_programoutcome_program_outcome_id_seq', 1, false);


--
-- Name: ucap_backend_rawscore_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_rawscore_id_seq', 1, false);


--
-- Name: ucap_backend_role_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_role_role_id_seq', 2, true);


--
-- Name: ucap_backend_section_section_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_section_section_id_seq', 1, false);


--
-- Name: ucap_backend_semester_semester_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_semester_semester_id_seq', 1, false);


--
-- Name: ucap_backend_yearlevel_year_level_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_yearlevel_year_level_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_academicyear ucap_backend_academicyear_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_academicyear
    ADD CONSTRAINT ucap_backend_academicyear_pkey PRIMARY KEY (academic_year_id);


--
-- Name: ucap_backend_assessment ucap_backend_assessment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessment
    ADD CONSTRAINT ucap_backend_assessment_pkey PRIMARY KEY (assessment_id);


--
-- Name: ucap_backend_assessmentclassification ucap_backend_assessmentclassification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessmentclassification
    ADD CONSTRAINT ucap_backend_assessmentclassification_pkey PRIMARY KEY (assessment_classification_id);


--
-- Name: ucap_backend_campus ucap_backend_campus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_campus
    ADD CONSTRAINT ucap_backend_campus_pkey PRIMARY KEY (campus_id);


--
-- Name: ucap_backend_co_po_mapping ucap_backend_co_po_mappi_mapping_program_outcome__2cf3c1a4_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_co_po_mapping
    ADD CONSTRAINT ucap_backend_co_po_mappi_mapping_program_outcome__2cf3c1a4_uniq UNIQUE (mapping_program_outcome_id_id, mapping_course_outcome_id_id);


--
-- Name: ucap_backend_co_po_mapping ucap_backend_co_po_mapping_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_co_po_mapping
    ADD CONSTRAINT ucap_backend_co_po_mapping_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_college ucap_backend_college_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_college
    ADD CONSTRAINT ucap_backend_college_pkey PRIMARY KEY (college_id);


--
-- Name: ucap_backend_component ucap_backend_component_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_component
    ADD CONSTRAINT ucap_backend_component_pkey PRIMARY KEY (component_id);


--
-- Name: ucap_backend_course ucap_backend_course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_pkey PRIMARY KEY (course_code);


--
-- Name: ucap_backend_courseoutcome ucap_backend_courseoutcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseoutcome
    ADD CONSTRAINT ucap_backend_courseoutcome_pkey PRIMARY KEY (course_outcome_id);


--
-- Name: ucap_backend_courseterm ucap_backend_courseterm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseterm
    ADD CONSTRAINT ucap_backend_courseterm_pkey PRIMARY KEY (course_term_id);


--
-- Name: ucap_backend_courseunit ucap_backend_courseunit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseunit
    ADD CONSTRAINT ucap_backend_courseunit_pkey PRIMARY KEY (course_unit_id);


--
-- Name: ucap_backend_credit ucap_backend_credit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_credit
    ADD CONSTRAINT ucap_backend_credit_pkey PRIMARY KEY (credit_id);


--
-- Name: ucap_backend_department ucap_backend_department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_department
    ADD CONSTRAINT ucap_backend_department_pkey PRIMARY KEY (department_id);


--
-- Name: ucap_backend_loadedcoursetable ucap_backend_loadedcoursetable_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_loadedcoursetable
    ADD CONSTRAINT ucap_backend_loadedcoursetable_pkey PRIMARY KEY (loaded_course_id);


--
-- Name: ucap_backend_program ucap_backend_program_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_program
    ADD CONSTRAINT ucap_backend_program_pkey PRIMARY KEY (program_id);


--
-- Name: ucap_backend_programoutcome ucap_backend_programoutcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_programoutcome
    ADD CONSTRAINT ucap_backend_programoutcome_pkey PRIMARY KEY (program_outcome_id);


--
-- Name: ucap_backend_rawscore ucap_backend_rawscore_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscore_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_rawscore ucap_backend_rawscore_rawscore_student_id_id_r_55b224bf_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscore_rawscore_student_id_id_r_55b224bf_uniq UNIQUE (rawscore_student_id_id, rawscore_assessment_id_id);


--
-- Name: ucap_backend_role ucap_backend_role_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_role
    ADD CONSTRAINT ucap_backend_role_pkey PRIMARY KEY (role_id);


--
-- Name: ucap_backend_section ucap_backend_section_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_section
    ADD CONSTRAINT ucap_backend_section_pkey PRIMARY KEY (section_id);


--
-- Name: ucap_backend_semester ucap_backend_semester_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_semester
    ADD CONSTRAINT ucap_backend_semester_pkey PRIMARY KEY (semester_id);


--
-- Name: ucap_backend_student ucap_backend_student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_student
    ADD CONSTRAINT ucap_backend_student_pkey PRIMARY KEY (student_id);


--
-- Name: ucap_backend_user ucap_backend_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_email_key UNIQUE (email);


--
-- Name: ucap_backend_user ucap_backend_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_pkey PRIMARY KEY (user_id);


--
-- Name: ucap_backend_yearlevel ucap_backend_yearlevel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_yearlevel
    ADD CONSTRAINT ucap_backend_yearlevel_pkey PRIMARY KEY (year_level_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: ucap_backend_assessment_assessment_component_id_id_f2b3af82; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_assessment_assessment_component_id_id_f2b3af82 ON public.ucap_backend_assessment USING btree (assessment_component_id_id);


--
-- Name: ucap_backend_assessment_assessment_section_id_id_e087b613; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_assessment_assessment_section_id_id_e087b613 ON public.ucap_backend_assessment USING btree (assessment_section_id_id);


--
-- Name: ucap_backend_assessmentcla_AC_assessment_id_id_3d9fa9db; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ucap_backend_assessmentcla_AC_assessment_id_id_3d9fa9db" ON public.ucap_backend_assessmentclassification USING btree ("AC_assessment_id_id");


--
-- Name: ucap_backend_co_po_mapping_mapping_course_outcome_id__d28aef54; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_co_po_mapping_mapping_course_outcome_id__d28aef54 ON public.ucap_backend_co_po_mapping USING btree (mapping_course_outcome_id_id);


--
-- Name: ucap_backend_co_po_mapping_mapping_program_outcome_id_9578477a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_co_po_mapping_mapping_program_outcome_id_9578477a ON public.ucap_backend_co_po_mapping USING btree (mapping_program_outcome_id_id);


--
-- Name: ucap_backend_college_college_campus_id_id_a5e442e8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_college_college_campus_id_id_a5e442e8 ON public.ucap_backend_college USING btree (college_campus_id_id);


--
-- Name: ucap_backend_component_component_course_unit_id_id_2680f8fb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_component_component_course_unit_id_id_2680f8fb ON public.ucap_backend_component USING btree (component_course_unit_id_id);


--
-- Name: ucap_backend_course_course_credit_id_id_465714cb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_course_credit_id_id_465714cb ON public.ucap_backend_course USING btree (course_credit_id_id);


--
-- Name: ucap_backend_course_course_program_id_id_369de4ec; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_course_program_id_id_369de4ec ON public.ucap_backend_course USING btree (course_program_id_id);


--
-- Name: ucap_backend_course_course_semester_id_id_b587036e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_course_semester_id_id_b587036e ON public.ucap_backend_course USING btree (course_semester_id_id);


--
-- Name: ucap_backend_course_course_year_level_id_id_f9b92ef1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_course_year_level_id_id_f9b92ef1 ON public.ucap_backend_course USING btree (course_year_level_id_id);


--
-- Name: ucap_backend_courseoutcome_CO_assessment_id_id_d338e99c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ucap_backend_courseoutcome_CO_assessment_id_id_d338e99c" ON public.ucap_backend_courseoutcome USING btree ("CO_assessment_id_id");


--
-- Name: ucap_backend_courseoutcome_CO_course_code_id_d4198d50; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ucap_backend_courseoutcome_CO_course_code_id_d4198d50" ON public.ucap_backend_courseoutcome USING btree ("CO_course_code_id");


--
-- Name: ucap_backend_courseunit_course_unit_term_id_id_8edd0a6a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_courseunit_course_unit_term_id_id_8edd0a6a ON public.ucap_backend_courseunit USING btree (course_unit_term_id_id);


--
-- Name: ucap_backend_department_department_campus_id_id_afd4fc09; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_department_department_campus_id_id_afd4fc09 ON public.ucap_backend_department USING btree (department_campus_id_id);


--
-- Name: ucap_backend_department_department_college_id_id_dd9eba73; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_department_department_college_id_id_dd9eba73 ON public.ucap_backend_department USING btree (department_college_id_id);


--
-- Name: ucap_backend_loadedcourset_loaded_academic_year_id_id_34b43115; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_loadedcourset_loaded_academic_year_id_id_34b43115 ON public.ucap_backend_loadedcoursetable USING btree (loaded_academic_year_id_id);


--
-- Name: ucap_backend_loadedcoursetable_loaded_course_code_id_d87de835; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_loadedcoursetable_loaded_course_code_id_d87de835 ON public.ucap_backend_loadedcoursetable USING btree (loaded_course_code_id);


--
-- Name: ucap_backend_program_program_department_id_id_4157fad9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_program_program_department_id_id_4157fad9 ON public.ucap_backend_program USING btree (program_department_id_id);


--
-- Name: ucap_backend_programoutcome_PO_course_code_id_c894239c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ucap_backend_programoutcome_PO_course_code_id_c894239c" ON public.ucap_backend_programoutcome USING btree ("PO_course_code_id");


--
-- Name: ucap_backend_rawscore_rawscore_assessment_id_id_548bb78c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_rawscore_rawscore_assessment_id_id_548bb78c ON public.ucap_backend_rawscore USING btree (rawscore_assessment_id_id);


--
-- Name: ucap_backend_rawscore_rawscore_student_id_id_a02f2b30; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_rawscore_rawscore_student_id_id_a02f2b30 ON public.ucap_backend_rawscore USING btree (rawscore_student_id_id);


--
-- Name: ucap_backend_section_section_instructor_assigned_id_id_5991859c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_section_section_instructor_assigned_id_id_5991859c ON public.ucap_backend_section USING btree (section_instructor_assigned_id_id);


--
-- Name: ucap_backend_section_section_loaded_course_id_id_88b64941; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_section_section_loaded_course_id_id_88b64941 ON public.ucap_backend_section USING btree (section_loaded_course_id_id);


--
-- Name: ucap_backend_student_student_section_id_id_cff18d05; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_student_student_section_id_id_cff18d05 ON public.ucap_backend_student USING btree (student_section_id_id);


--
-- Name: ucap_backend_user_email_e1dd4cad_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_email_e1dd4cad_like ON public.ucap_backend_user USING btree (email varchar_pattern_ops);


--
-- Name: ucap_backend_user_user_department_id_id_82df8737; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_user_department_id_id_82df8737 ON public.ucap_backend_user USING btree (user_department_id_id);


--
-- Name: ucap_backend_user_user_role_id_id_25f2584d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_user_role_id_id_25f2584d ON public.ucap_backend_user USING btree (user_role_id_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessmentclassification ucap_backend_assessm_AC_assessment_id_id_3d9fa9db_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessmentclassification
    ADD CONSTRAINT "ucap_backend_assessm_AC_assessment_id_id_3d9fa9db_fk_ucap_back" FOREIGN KEY ("AC_assessment_id_id") REFERENCES public.ucap_backend_assessment(assessment_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessment ucap_backend_assessm_assessment_component_f2b3af82_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessment
    ADD CONSTRAINT ucap_backend_assessm_assessment_component_f2b3af82_fk_ucap_back FOREIGN KEY (assessment_component_id_id) REFERENCES public.ucap_backend_component(component_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessment ucap_backend_assessm_assessment_section_i_e087b613_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessment
    ADD CONSTRAINT ucap_backend_assessm_assessment_section_i_e087b613_fk_ucap_back FOREIGN KEY (assessment_section_id_id) REFERENCES public.ucap_backend_section(section_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_co_po_mapping ucap_backend_co_po_m_mapping_course_outco_d28aef54_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_co_po_mapping
    ADD CONSTRAINT ucap_backend_co_po_m_mapping_course_outco_d28aef54_fk_ucap_back FOREIGN KEY (mapping_course_outcome_id_id) REFERENCES public.ucap_backend_courseoutcome(course_outcome_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_co_po_mapping ucap_backend_co_po_m_mapping_program_outc_9578477a_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_co_po_mapping
    ADD CONSTRAINT ucap_backend_co_po_m_mapping_program_outc_9578477a_fk_ucap_back FOREIGN KEY (mapping_program_outcome_id_id) REFERENCES public.ucap_backend_programoutcome(program_outcome_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_college ucap_backend_college_college_campus_id_id_a5e442e8_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_college
    ADD CONSTRAINT ucap_backend_college_college_campus_id_id_a5e442e8_fk_ucap_back FOREIGN KEY (college_campus_id_id) REFERENCES public.ucap_backend_campus(campus_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_component ucap_backend_compone_component_course_uni_2680f8fb_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_component
    ADD CONSTRAINT ucap_backend_compone_component_course_uni_2680f8fb_fk_ucap_back FOREIGN KEY (component_course_unit_id_id) REFERENCES public.ucap_backend_courseunit(course_unit_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_course_credit_id_id_465714cb_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_course_credit_id_id_465714cb_fk_ucap_back FOREIGN KEY (course_credit_id_id) REFERENCES public.ucap_backend_credit(credit_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_course_program_id_id_369de4ec_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_course_program_id_id_369de4ec_fk_ucap_back FOREIGN KEY (course_program_id_id) REFERENCES public.ucap_backend_program(program_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_course_semester_id_i_b587036e_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_course_semester_id_i_b587036e_fk_ucap_back FOREIGN KEY (course_semester_id_id) REFERENCES public.ucap_backend_semester(semester_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_course_year_level_id_f9b92ef1_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_course_year_level_id_f9b92ef1_fk_ucap_back FOREIGN KEY (course_year_level_id_id) REFERENCES public.ucap_backend_yearlevel(year_level_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_courseoutcome ucap_backend_courseo_CO_assessment_id_id_d338e99c_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseoutcome
    ADD CONSTRAINT "ucap_backend_courseo_CO_assessment_id_id_d338e99c_fk_ucap_back" FOREIGN KEY ("CO_assessment_id_id") REFERENCES public.ucap_backend_assessment(assessment_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_courseoutcome ucap_backend_courseo_CO_course_code_id_d4198d50_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseoutcome
    ADD CONSTRAINT "ucap_backend_courseo_CO_course_code_id_d4198d50_fk_ucap_back" FOREIGN KEY ("CO_course_code_id") REFERENCES public.ucap_backend_course(course_code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_courseunit ucap_backend_courseu_course_unit_term_id__8edd0a6a_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseunit
    ADD CONSTRAINT ucap_backend_courseu_course_unit_term_id__8edd0a6a_fk_ucap_back FOREIGN KEY (course_unit_term_id_id) REFERENCES public.ucap_backend_courseterm(course_term_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_department ucap_backend_departm_department_campus_id_afd4fc09_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_department
    ADD CONSTRAINT ucap_backend_departm_department_campus_id_afd4fc09_fk_ucap_back FOREIGN KEY (department_campus_id_id) REFERENCES public.ucap_backend_campus(campus_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_department ucap_backend_departm_department_college_i_dd9eba73_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_department
    ADD CONSTRAINT ucap_backend_departm_department_college_i_dd9eba73_fk_ucap_back FOREIGN KEY (department_college_id_id) REFERENCES public.ucap_backend_college(college_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_loadedcoursetable ucap_backend_loadedc_loaded_academic_year_34b43115_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_loadedcoursetable
    ADD CONSTRAINT ucap_backend_loadedc_loaded_academic_year_34b43115_fk_ucap_back FOREIGN KEY (loaded_academic_year_id_id) REFERENCES public.ucap_backend_academicyear(academic_year_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_loadedcoursetable ucap_backend_loadedc_loaded_course_code_i_d87de835_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_loadedcoursetable
    ADD CONSTRAINT ucap_backend_loadedc_loaded_course_code_i_d87de835_fk_ucap_back FOREIGN KEY (loaded_course_code_id) REFERENCES public.ucap_backend_course(course_code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_programoutcome ucap_backend_program_PO_course_code_id_c894239c_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_programoutcome
    ADD CONSTRAINT "ucap_backend_program_PO_course_code_id_c894239c_fk_ucap_back" FOREIGN KEY ("PO_course_code_id") REFERENCES public.ucap_backend_course(course_code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_program ucap_backend_program_program_department_i_4157fad9_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_program
    ADD CONSTRAINT ucap_backend_program_program_department_i_4157fad9_fk_ucap_back FOREIGN KEY (program_department_id_id) REFERENCES public.ucap_backend_department(department_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_rawscore ucap_backend_rawscor_rawscore_assessment__548bb78c_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscor_rawscore_assessment__548bb78c_fk_ucap_back FOREIGN KEY (rawscore_assessment_id_id) REFERENCES public.ucap_backend_assessment(assessment_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_rawscore ucap_backend_rawscor_rawscore_student_id__a02f2b30_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscor_rawscore_student_id__a02f2b30_fk_ucap_back FOREIGN KEY (rawscore_student_id_id) REFERENCES public.ucap_backend_student(student_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_section ucap_backend_section_section_instructor_a_5991859c_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_section
    ADD CONSTRAINT ucap_backend_section_section_instructor_a_5991859c_fk_ucap_back FOREIGN KEY (section_instructor_assigned_id_id) REFERENCES public.ucap_backend_user(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_section ucap_backend_section_section_loaded_cours_88b64941_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_section
    ADD CONSTRAINT ucap_backend_section_section_loaded_cours_88b64941_fk_ucap_back FOREIGN KEY (section_loaded_course_id_id) REFERENCES public.ucap_backend_loadedcoursetable(loaded_course_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_student ucap_backend_student_student_section_id_i_cff18d05_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_student
    ADD CONSTRAINT ucap_backend_student_student_section_id_i_cff18d05_fk_ucap_back FOREIGN KEY (student_section_id_id) REFERENCES public.ucap_backend_section(section_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user ucap_backend_user_user_department_id_i_82df8737_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_user_department_id_i_82df8737_fk_ucap_back FOREIGN KEY (user_department_id_id) REFERENCES public.ucap_backend_department(department_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user ucap_backend_user_user_role_id_id_25f2584d_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_user_role_id_id_25f2584d_fk_ucap_back FOREIGN KEY (user_role_id_id) REFERENCES public.ucap_backend_role(role_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict wFGCDg0E8ekJzapKKGYeGL61aJGvd3vDoctkwXsRp8GEZ51CDBszbXoA1mLiT8G

