--
-- PostgreSQL database dump
--

\restrict J2R9qRWfC3KicMc3t4bHJgMU8TifdHMUJweKT9Zai9XTFHTImAi6yBuH6HoKTEa

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id integer NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id integer NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: ucap_backend_academicyear; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_academicyear (
    academic_year_id integer NOT NULL,
    academic_year_start integer NOT NULL,
    academic_year_end integer NOT NULL
);


ALTER TABLE public.ucap_backend_academicyear OWNER TO postgres;

--
-- Name: ucap_backend_academicyear_academic_year_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_academicyear ALTER COLUMN academic_year_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_academicyear_academic_year_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_assessment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_assessment (
    assessment_id integer NOT NULL,
    assessment_title character varying(225),
    assessment_highest_score integer,
    blooms_classification_id integer,
    section_id integer NOT NULL,
    section_component_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_assessment OWNER TO postgres;

--
-- Name: ucap_backend_assessment_assessment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_assessment ALTER COLUMN assessment_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_assessment_assessment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_assessmentcourseoutcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_assessmentcourseoutcome (
    id bigint NOT NULL,
    assessment_id integer NOT NULL,
    course_outcome_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_assessmentcourseoutcome OWNER TO postgres;

--
-- Name: ucap_backend_assessmentcourseoutcome_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_assessmentcourseoutcome ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_assessmentcourseoutcome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_bloomsclassification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_bloomsclassification (
    blooms_classification_id integer NOT NULL,
    blooms_classification_type character varying(255) NOT NULL
);


ALTER TABLE public.ucap_backend_bloomsclassification OWNER TO postgres;

--
-- Name: ucap_backend_bloomsclassification_blooms_classification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_bloomsclassification ALTER COLUMN blooms_classification_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_bloomsclassification_blooms_classification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_campus; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_campus (
    campus_id integer NOT NULL,
    campus_name character varying(225) NOT NULL
);


ALTER TABLE public.ucap_backend_campus OWNER TO postgres;

--
-- Name: ucap_backend_campus_campus_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_campus ALTER COLUMN campus_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_campus_campus_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_college; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_college (
    college_id integer NOT NULL,
    college_name character varying(225) NOT NULL,
    campus_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_college OWNER TO postgres;

--
-- Name: ucap_backend_college_college_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_college ALTER COLUMN college_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_college_college_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_course (
    course_code character varying NOT NULL,
    course_title character varying(255) NOT NULL,
    credit_id integer NOT NULL,
    program_id integer NOT NULL,
    semester_id integer NOT NULL,
    year_level_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_course OWNER TO postgres;

--
-- Name: ucap_backend_coursecomponent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_coursecomponent (
    course_component_id integer NOT NULL,
    course_component_type character varying(225) NOT NULL,
    course_component_percentage integer NOT NULL,
    course_unit_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_coursecomponent OWNER TO postgres;

--
-- Name: ucap_backend_coursecomponent_course_component_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_coursecomponent ALTER COLUMN course_component_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_coursecomponent_course_component_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_courseoutcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_courseoutcome (
    course_outcome_id integer NOT NULL,
    course_outcome_description character varying(255) NOT NULL,
    course_id character varying NOT NULL
);


ALTER TABLE public.ucap_backend_courseoutcome OWNER TO postgres;

--
-- Name: ucap_backend_courseoutcome_course_outcome_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_courseoutcome ALTER COLUMN course_outcome_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_courseoutcome_course_outcome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_courseterm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_courseterm (
    course_term_id integer NOT NULL,
    course_term_type character varying(225) NOT NULL,
    loaded_course_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_courseterm OWNER TO postgres;

--
-- Name: ucap_backend_courseterm_course_term_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_courseterm ALTER COLUMN course_term_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_courseterm_course_term_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_courseunit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_courseunit (
    course_unit_id integer NOT NULL,
    course_unit_type character varying(225) NOT NULL,
    course_unit_percentage integer NOT NULL,
    course_term_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_courseunit OWNER TO postgres;

--
-- Name: ucap_backend_courseunit_course_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_courseunit ALTER COLUMN course_unit_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_courseunit_course_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_credit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_credit (
    credit_id integer NOT NULL,
    lecture_unit integer NOT NULL,
    laboratory_unit integer NOT NULL,
    credit_unit integer NOT NULL
);


ALTER TABLE public.ucap_backend_credit OWNER TO postgres;

--
-- Name: ucap_backend_credit_credit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_credit ALTER COLUMN credit_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_credit_credit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_department; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_department (
    department_id integer NOT NULL,
    department_name character varying(255) NOT NULL,
    campus_id integer NOT NULL,
    college_id integer
);


ALTER TABLE public.ucap_backend_department OWNER TO postgres;

--
-- Name: ucap_backend_department_department_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_department ALTER COLUMN department_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_department_department_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_loadedcourse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_loadedcourse (
    loaded_course_id integer NOT NULL,
    academic_year_id integer NOT NULL,
    course_id character varying NOT NULL
);


ALTER TABLE public.ucap_backend_loadedcourse OWNER TO postgres;

--
-- Name: ucap_backend_loadedcourse_loaded_course_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_loadedcourse ALTER COLUMN loaded_course_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_loadedcourse_loaded_course_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_outcomemapping; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_outcomemapping (
    id bigint NOT NULL,
    outcome_mapping character varying(255),
    course_outcome_id integer NOT NULL,
    program_outcome_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_outcomemapping OWNER TO postgres;

--
-- Name: ucap_backend_outcomemapping_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_outcomemapping ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_outcomemapping_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_program; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_program (
    program_id integer NOT NULL,
    program_name character varying(255) NOT NULL,
    department_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_program OWNER TO postgres;

--
-- Name: ucap_backend_program_program_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_program ALTER COLUMN program_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_program_program_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_programoutcome; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_programoutcome (
    program_outcome_id integer NOT NULL,
    program_outcome_description character varying(255) NOT NULL,
    program_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_programoutcome OWNER TO postgres;

--
-- Name: ucap_backend_programoutcome_program_outcome_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_programoutcome ALTER COLUMN program_outcome_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_programoutcome_program_outcome_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_rawscore; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_rawscore (
    id bigint NOT NULL,
    raw_score integer,
    assessment_id integer NOT NULL,
    student_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_rawscore OWNER TO postgres;

--
-- Name: ucap_backend_rawscore_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_rawscore ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_rawscore_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_section; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_section (
    section_id integer NOT NULL,
    year_and_section character varying(225) NOT NULL,
    result_sheet_remarks character varying(225),
    result_sheet_status character varying(225),
    instructor_assigned_id integer,
    loaded_course_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_section OWNER TO postgres;

--
-- Name: ucap_backend_section_section_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_section ALTER COLUMN section_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_section_section_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_sectioncoursecomponent; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_sectioncoursecomponent (
    section_course_component_id integer NOT NULL,
    section_course_component_name character varying(225) NOT NULL,
    section_course_component_percentage integer NOT NULL,
    section_course_unit_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_sectioncoursecomponent OWNER TO postgres;

--
-- Name: ucap_backend_sectioncoursecompo_section_course_component_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_sectioncoursecomponent ALTER COLUMN section_course_component_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_sectioncoursecompo_section_course_component_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_sectioncourseterm; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_sectioncourseterm (
    section_course_term_id integer NOT NULL,
    section_course_term_type character varying(225) NOT NULL,
    section_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_sectioncourseterm OWNER TO postgres;

--
-- Name: ucap_backend_sectioncourseterm_section_course_term_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_sectioncourseterm ALTER COLUMN section_course_term_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_sectioncourseterm_section_course_term_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_sectioncourseunit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_sectioncourseunit (
    section_course_unit_id integer NOT NULL,
    section_course_unit_type character varying(225) NOT NULL,
    section_course_unit_percentage integer NOT NULL,
    section_course_term_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_sectioncourseunit OWNER TO postgres;

--
-- Name: ucap_backend_sectioncourseunit_section_course_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_sectioncourseunit ALTER COLUMN section_course_unit_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_sectioncourseunit_section_course_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_semester; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_semester (
    semester_id integer NOT NULL,
    semester_type character varying(255) NOT NULL
);


ALTER TABLE public.ucap_backend_semester OWNER TO postgres;

--
-- Name: ucap_backend_semester_semester_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_semester ALTER COLUMN semester_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_semester_semester_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_student (
    student_id integer NOT NULL,
    id_number integer,
    student_name character varying(225),
    remarks character varying(225),
    section_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_student OWNER TO postgres;

--
-- Name: ucap_backend_student_student_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_student ALTER COLUMN student_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_student_student_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_user (
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    user_id integer NOT NULL,
    first_name character varying(255),
    middle_name character varying(255),
    last_name character varying(255) NOT NULL,
    suffix character varying(255),
    email character varying(255) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    department_id integer,
    user_role_id integer
);


ALTER TABLE public.ucap_backend_user OWNER TO postgres;

--
-- Name: ucap_backend_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_user_groups (
    id integer NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_user_groups OWNER TO postgres;

--
-- Name: ucap_backend_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_user_user_permissions (
    id integer NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.ucap_backend_user_user_permissions OWNER TO postgres;

--
-- Name: ucap_backend_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_userrole; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_userrole (
    user_role_id integer NOT NULL,
    user_role_type character varying(255) NOT NULL
);


ALTER TABLE public.ucap_backend_userrole OWNER TO postgres;

--
-- Name: ucap_backend_userrole_user_role_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_userrole ALTER COLUMN user_role_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_userrole_user_role_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ucap_backend_yearlevel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ucap_backend_yearlevel (
    year_level_id integer NOT NULL,
    year_level_type character varying(255) NOT NULL
);


ALTER TABLE public.ucap_backend_yearlevel OWNER TO postgres;

--
-- Name: ucap_backend_yearlevel_year_level_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.ucap_backend_yearlevel ALTER COLUMN year_level_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.ucap_backend_yearlevel_year_level_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Data for Name: ucap_backend_academicyear; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_academicyear (academic_year_id, academic_year_start, academic_year_end) FROM stdin;
1	2025	2026
\.


--
-- Data for Name: ucap_backend_assessment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_assessment (assessment_id, assessment_title, assessment_highest_score, blooms_classification_id, section_id, section_component_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_assessmentcourseoutcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_assessmentcourseoutcome (id, assessment_id, course_outcome_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_bloomsclassification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_bloomsclassification (blooms_classification_id, blooms_classification_type) FROM stdin;
\.


--
-- Data for Name: ucap_backend_campus; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_campus (campus_id, campus_name) FROM stdin;
1	USTP-CDO
\.


--
-- Data for Name: ucap_backend_college; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_college (college_id, college_name, campus_id) FROM stdin;
1	College of Engineering and Architecture	1
2	College of Information Technology and Computing	1
\.


--
-- Data for Name: ucap_backend_course; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ucap_backend_coursecomponent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_coursecomponent (course_component_id, course_component_type, course_component_percentage, course_unit_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_courseoutcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_courseoutcome (course_outcome_id, course_outcome_description, course_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_courseterm; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_courseterm (course_term_id, course_term_type, loaded_course_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_courseunit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_courseunit (course_unit_id, course_unit_type, course_unit_percentage, course_term_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_credit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_credit (credit_id, lecture_unit, laboratory_unit, credit_unit) FROM stdin;
1	1	1	2
2	3	1	4
3	3	0	3
4	4	0	4
5	2	1	3
6	0	1	1
7	0	2	2
\.


--
-- Data for Name: ucap_backend_department; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_department (department_id, department_name, campus_id, college_id) FROM stdin;
1	Electronics Engineering	1	1
2	Electrical Engineering	1	1
3	Computer Engineering	1	1
4	Information Technology	1	2
5	Computer Science	1	2
\.


--
-- Data for Name: ucap_backend_loadedcourse; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_loadedcourse (loaded_course_id, academic_year_id, course_id) FROM stdin;
1	1	ECE212
2	1	ECE210
3	1	ECE314
4	1	ECE313
5	1	ECE311
6	1	ECE312
7	1	ECE315
8	1	ECE310
9	1	ECE410
10	1	ECE411
11	1	ECE412
12	1	ECE413
13	1	ECECSE410
\.


--
-- Data for Name: ucap_backend_outcomemapping; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_outcomemapping (id, outcome_mapping, course_outcome_id, program_outcome_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_program; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_program (program_id, program_name, department_id) FROM stdin;
1	BS Electronics Engineering	1
2	BS Electrical Engineering	2
3	BS Computer Engineering	3
4	BS Information Technology	4
5	BS Computer Science	5
\.


--
-- Data for Name: ucap_backend_programoutcome; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_programoutcome (program_outcome_id, program_outcome_description, program_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_rawscore; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_rawscore (id, raw_score, assessment_id, student_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_section; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ucap_backend_sectioncoursecomponent; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_sectioncoursecomponent (section_course_component_id, section_course_component_name, section_course_component_percentage, section_course_unit_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_sectioncourseterm; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_sectioncourseterm (section_course_term_id, section_course_term_type, section_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_sectioncourseunit; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_sectioncourseunit (section_course_unit_id, section_course_unit_type, section_course_unit_percentage, section_course_term_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_semester; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_semester (semester_id, semester_type) FROM stdin;
1	1st Semester
2	2nd Semester
3	Midyear
\.


--
-- Data for Name: ucap_backend_student; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_student (student_id, id_number, student_name, remarks, section_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ucap_backend_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: ucap_backend_userrole; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_userrole (user_role_id, user_role_type) FROM stdin;
1	Administrator
2	Instructor
3	Department Chair
4	Dean
5	Vice Chancellor of Academic Affairs
6	Vice President of Academic Affairs
\.


--
-- Data for Name: ucap_backend_yearlevel; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ucap_backend_yearlevel (year_level_id, year_level_type) FROM stdin;
1	1st Year
2	2nd Year
3	3rd Year
4	4th Year
5	5th Year
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 124, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 31, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 16, true);


--
-- Name: ucap_backend_academicyear_academic_year_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_academicyear_academic_year_id_seq', 1, true);


--
-- Name: ucap_backend_assessment_assessment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_assessment_assessment_id_seq', 1, false);


--
-- Name: ucap_backend_assessmentcourseoutcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_assessmentcourseoutcome_id_seq', 1, false);


--
-- Name: ucap_backend_bloomsclassification_blooms_classification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_bloomsclassification_blooms_classification_id_seq', 1, false);


--
-- Name: ucap_backend_campus_campus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_campus_campus_id_seq', 1, true);


--
-- Name: ucap_backend_college_college_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_college_college_id_seq', 2, true);


--
-- Name: ucap_backend_coursecomponent_course_component_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_coursecomponent_course_component_id_seq', 1, false);


--
-- Name: ucap_backend_courseoutcome_course_outcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_courseoutcome_course_outcome_id_seq', 1, false);


--
-- Name: ucap_backend_courseterm_course_term_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_courseterm_course_term_id_seq', 1, false);


--
-- Name: ucap_backend_courseunit_course_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_courseunit_course_unit_id_seq', 1, false);


--
-- Name: ucap_backend_credit_credit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_credit_credit_id_seq', 7, true);


--
-- Name: ucap_backend_department_department_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_department_department_id_seq', 5, true);


--
-- Name: ucap_backend_loadedcourse_loaded_course_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_loadedcourse_loaded_course_id_seq', 13, true);


--
-- Name: ucap_backend_outcomemapping_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_outcomemapping_id_seq', 1, false);


--
-- Name: ucap_backend_program_program_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_program_program_id_seq', 5, true);


--
-- Name: ucap_backend_programoutcome_program_outcome_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_programoutcome_program_outcome_id_seq', 1, false);


--
-- Name: ucap_backend_rawscore_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_rawscore_id_seq', 1, false);


--
-- Name: ucap_backend_section_section_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_section_section_id_seq', 130, true);


--
-- Name: ucap_backend_sectioncoursecompo_section_course_component_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_sectioncoursecompo_section_course_component_id_seq', 1, false);


--
-- Name: ucap_backend_sectioncourseterm_section_course_term_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_sectioncourseterm_section_course_term_id_seq', 1, false);


--
-- Name: ucap_backend_sectioncourseunit_section_course_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_sectioncourseunit_section_course_unit_id_seq', 1, false);


--
-- Name: ucap_backend_semester_semester_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_semester_semester_id_seq', 3, true);


--
-- Name: ucap_backend_student_student_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_student_student_id_seq', 1, false);


--
-- Name: ucap_backend_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_user_groups_id_seq', 1, false);


--
-- Name: ucap_backend_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_user_user_permissions_id_seq', 1, false);


--
-- Name: ucap_backend_userrole_user_role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_userrole_user_role_id_seq', 6, true);


--
-- Name: ucap_backend_yearlevel_year_level_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ucap_backend_yearlevel_year_level_id_seq', 5, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: ucap_backend_academicyear ucap_backend_academicyear_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_academicyear
    ADD CONSTRAINT ucap_backend_academicyear_pkey PRIMARY KEY (academic_year_id);


--
-- Name: ucap_backend_assessment ucap_backend_assessment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessment
    ADD CONSTRAINT ucap_backend_assessment_pkey PRIMARY KEY (assessment_id);


--
-- Name: ucap_backend_assessmentcourseoutcome ucap_backend_assessmentc_assessment_id_course_out_2a61cc4a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessmentcourseoutcome
    ADD CONSTRAINT ucap_backend_assessmentc_assessment_id_course_out_2a61cc4a_uniq UNIQUE (assessment_id, course_outcome_id);


--
-- Name: ucap_backend_assessmentcourseoutcome ucap_backend_assessmentcourseoutcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessmentcourseoutcome
    ADD CONSTRAINT ucap_backend_assessmentcourseoutcome_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_bloomsclassification ucap_backend_bloomsclassification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_bloomsclassification
    ADD CONSTRAINT ucap_backend_bloomsclassification_pkey PRIMARY KEY (blooms_classification_id);


--
-- Name: ucap_backend_campus ucap_backend_campus_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_campus
    ADD CONSTRAINT ucap_backend_campus_pkey PRIMARY KEY (campus_id);


--
-- Name: ucap_backend_college ucap_backend_college_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_college
    ADD CONSTRAINT ucap_backend_college_pkey PRIMARY KEY (college_id);


--
-- Name: ucap_backend_course ucap_backend_course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_pkey PRIMARY KEY (course_code);


--
-- Name: ucap_backend_coursecomponent ucap_backend_coursecomponent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_coursecomponent
    ADD CONSTRAINT ucap_backend_coursecomponent_pkey PRIMARY KEY (course_component_id);


--
-- Name: ucap_backend_courseoutcome ucap_backend_courseoutcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseoutcome
    ADD CONSTRAINT ucap_backend_courseoutcome_pkey PRIMARY KEY (course_outcome_id);


--
-- Name: ucap_backend_courseterm ucap_backend_courseterm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseterm
    ADD CONSTRAINT ucap_backend_courseterm_pkey PRIMARY KEY (course_term_id);


--
-- Name: ucap_backend_courseunit ucap_backend_courseunit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseunit
    ADD CONSTRAINT ucap_backend_courseunit_pkey PRIMARY KEY (course_unit_id);


--
-- Name: ucap_backend_credit ucap_backend_credit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_credit
    ADD CONSTRAINT ucap_backend_credit_pkey PRIMARY KEY (credit_id);


--
-- Name: ucap_backend_department ucap_backend_department_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_department
    ADD CONSTRAINT ucap_backend_department_pkey PRIMARY KEY (department_id);


--
-- Name: ucap_backend_loadedcourse ucap_backend_loadedcourse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_loadedcourse
    ADD CONSTRAINT ucap_backend_loadedcourse_pkey PRIMARY KEY (loaded_course_id);


--
-- Name: ucap_backend_outcomemapping ucap_backend_outcomemapp_program_outcome_id_cours_19a2c897_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_outcomemapping
    ADD CONSTRAINT ucap_backend_outcomemapp_program_outcome_id_cours_19a2c897_uniq UNIQUE (program_outcome_id, course_outcome_id);


--
-- Name: ucap_backend_outcomemapping ucap_backend_outcomemapping_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_outcomemapping
    ADD CONSTRAINT ucap_backend_outcomemapping_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_program ucap_backend_program_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_program
    ADD CONSTRAINT ucap_backend_program_pkey PRIMARY KEY (program_id);


--
-- Name: ucap_backend_programoutcome ucap_backend_programoutcome_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_programoutcome
    ADD CONSTRAINT ucap_backend_programoutcome_pkey PRIMARY KEY (program_outcome_id);


--
-- Name: ucap_backend_rawscore ucap_backend_rawscore_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscore_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_rawscore ucap_backend_rawscore_student_id_assessment_id_e77dd883_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscore_student_id_assessment_id_e77dd883_uniq UNIQUE (student_id, assessment_id);


--
-- Name: ucap_backend_section ucap_backend_section_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_section
    ADD CONSTRAINT ucap_backend_section_pkey PRIMARY KEY (section_id);


--
-- Name: ucap_backend_sectioncoursecomponent ucap_backend_sectioncoursecomponent_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_sectioncoursecomponent
    ADD CONSTRAINT ucap_backend_sectioncoursecomponent_pkey PRIMARY KEY (section_course_component_id);


--
-- Name: ucap_backend_sectioncourseterm ucap_backend_sectioncourseterm_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_sectioncourseterm
    ADD CONSTRAINT ucap_backend_sectioncourseterm_pkey PRIMARY KEY (section_course_term_id);


--
-- Name: ucap_backend_sectioncourseunit ucap_backend_sectioncourseunit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_sectioncourseunit
    ADD CONSTRAINT ucap_backend_sectioncourseunit_pkey PRIMARY KEY (section_course_unit_id);


--
-- Name: ucap_backend_semester ucap_backend_semester_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_semester
    ADD CONSTRAINT ucap_backend_semester_pkey PRIMARY KEY (semester_id);


--
-- Name: ucap_backend_student ucap_backend_student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_student
    ADD CONSTRAINT ucap_backend_student_pkey PRIMARY KEY (student_id);


--
-- Name: ucap_backend_student ucap_backend_student_student_id_section_id_9080456d_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_student
    ADD CONSTRAINT ucap_backend_student_student_id_section_id_9080456d_uniq UNIQUE (student_id, section_id);


--
-- Name: ucap_backend_user ucap_backend_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_email_key UNIQUE (email);


--
-- Name: ucap_backend_user_groups ucap_backend_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_groups
    ADD CONSTRAINT ucap_backend_user_groups_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_user_groups ucap_backend_user_groups_user_id_group_id_80ab2248_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_groups
    ADD CONSTRAINT ucap_backend_user_groups_user_id_group_id_80ab2248_uniq UNIQUE (user_id, group_id);


--
-- Name: ucap_backend_user ucap_backend_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_pkey PRIMARY KEY (user_id);


--
-- Name: ucap_backend_user_user_permissions ucap_backend_user_user_p_user_id_permission_id_48231635_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_user_permissions
    ADD CONSTRAINT ucap_backend_user_user_p_user_id_permission_id_48231635_uniq UNIQUE (user_id, permission_id);


--
-- Name: ucap_backend_user_user_permissions ucap_backend_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_user_permissions
    ADD CONSTRAINT ucap_backend_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: ucap_backend_userrole ucap_backend_userrole_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_userrole
    ADD CONSTRAINT ucap_backend_userrole_pkey PRIMARY KEY (user_role_id);


--
-- Name: ucap_backend_yearlevel ucap_backend_yearlevel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_yearlevel
    ADD CONSTRAINT ucap_backend_yearlevel_pkey PRIMARY KEY (year_level_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: ucap_backend_assessment_blooms_classification_id_f05f35da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_assessment_blooms_classification_id_f05f35da ON public.ucap_backend_assessment USING btree (blooms_classification_id);


--
-- Name: ucap_backend_assessment_section_component_id_c03ab327; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_assessment_section_component_id_c03ab327 ON public.ucap_backend_assessment USING btree (section_component_id);


--
-- Name: ucap_backend_assessment_section_id_c565434b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_assessment_section_id_c565434b ON public.ucap_backend_assessment USING btree (section_id);


--
-- Name: ucap_backend_assessmentcourseoutcome_assessment_id_3d651e2b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_assessmentcourseoutcome_assessment_id_3d651e2b ON public.ucap_backend_assessmentcourseoutcome USING btree (assessment_id);


--
-- Name: ucap_backend_assessmentcourseoutcome_course_outcome_id_3c64adc7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_assessmentcourseoutcome_course_outcome_id_3c64adc7 ON public.ucap_backend_assessmentcourseoutcome USING btree (course_outcome_id);


--
-- Name: ucap_backend_college_campus_id_97364102; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_college_campus_id_97364102 ON public.ucap_backend_college USING btree (campus_id);


--
-- Name: ucap_backend_course_course_code_c5a98920_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_course_code_c5a98920_like ON public.ucap_backend_course USING btree (course_code varchar_pattern_ops);


--
-- Name: ucap_backend_course_credit_id_8e50cf94; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_credit_id_8e50cf94 ON public.ucap_backend_course USING btree (credit_id);


--
-- Name: ucap_backend_course_program_id_9146d605; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_program_id_9146d605 ON public.ucap_backend_course USING btree (program_id);


--
-- Name: ucap_backend_course_semester_id_dd10f76a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_semester_id_dd10f76a ON public.ucap_backend_course USING btree (semester_id);


--
-- Name: ucap_backend_course_year_level_id_a12c48b6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_course_year_level_id_a12c48b6 ON public.ucap_backend_course USING btree (year_level_id);


--
-- Name: ucap_backend_coursecomponent_course_unit_id_c2312787; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_coursecomponent_course_unit_id_c2312787 ON public.ucap_backend_coursecomponent USING btree (course_unit_id);


--
-- Name: ucap_backend_courseoutcome_course_id_a81637dd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_courseoutcome_course_id_a81637dd ON public.ucap_backend_courseoutcome USING btree (course_id);


--
-- Name: ucap_backend_courseoutcome_course_id_a81637dd_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_courseoutcome_course_id_a81637dd_like ON public.ucap_backend_courseoutcome USING btree (course_id varchar_pattern_ops);


--
-- Name: ucap_backend_courseterm_loaded_course_id_1f1b5b0b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_courseterm_loaded_course_id_1f1b5b0b ON public.ucap_backend_courseterm USING btree (loaded_course_id);


--
-- Name: ucap_backend_courseunit_course_term_id_d97718ea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_courseunit_course_term_id_d97718ea ON public.ucap_backend_courseunit USING btree (course_term_id);


--
-- Name: ucap_backend_department_campus_id_7a27ea51; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_department_campus_id_7a27ea51 ON public.ucap_backend_department USING btree (campus_id);


--
-- Name: ucap_backend_department_college_id_5267ab2b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_department_college_id_5267ab2b ON public.ucap_backend_department USING btree (college_id);


--
-- Name: ucap_backend_loadedcourse_academic_year_id_714beb22; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_loadedcourse_academic_year_id_714beb22 ON public.ucap_backend_loadedcourse USING btree (academic_year_id);


--
-- Name: ucap_backend_loadedcourse_course_id_d9340704; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_loadedcourse_course_id_d9340704 ON public.ucap_backend_loadedcourse USING btree (course_id);


--
-- Name: ucap_backend_loadedcourse_course_id_d9340704_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_loadedcourse_course_id_d9340704_like ON public.ucap_backend_loadedcourse USING btree (course_id varchar_pattern_ops);


--
-- Name: ucap_backend_outcomemapping_course_outcome_id_f5694ff0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_outcomemapping_course_outcome_id_f5694ff0 ON public.ucap_backend_outcomemapping USING btree (course_outcome_id);


--
-- Name: ucap_backend_outcomemapping_program_outcome_id_9edd567f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_outcomemapping_program_outcome_id_9edd567f ON public.ucap_backend_outcomemapping USING btree (program_outcome_id);


--
-- Name: ucap_backend_program_department_id_8b24d1a6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_program_department_id_8b24d1a6 ON public.ucap_backend_program USING btree (department_id);


--
-- Name: ucap_backend_programoutcome_program_id_64a87f2e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_programoutcome_program_id_64a87f2e ON public.ucap_backend_programoutcome USING btree (program_id);


--
-- Name: ucap_backend_rawscore_assessment_id_ebe236da; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_rawscore_assessment_id_ebe236da ON public.ucap_backend_rawscore USING btree (assessment_id);


--
-- Name: ucap_backend_rawscore_student_id_c298d916; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_rawscore_student_id_c298d916 ON public.ucap_backend_rawscore USING btree (student_id);


--
-- Name: ucap_backend_section_instructor_assigned_id_76a588c7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_section_instructor_assigned_id_76a588c7 ON public.ucap_backend_section USING btree (instructor_assigned_id);


--
-- Name: ucap_backend_section_loaded_course_id_c1a746bd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_section_loaded_course_id_c1a746bd ON public.ucap_backend_section USING btree (loaded_course_id);


--
-- Name: ucap_backend_sectioncourse_section_course_unit_id_d6e28ac0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_sectioncourse_section_course_unit_id_d6e28ac0 ON public.ucap_backend_sectioncoursecomponent USING btree (section_course_unit_id);


--
-- Name: ucap_backend_sectioncourseterm_section_id_80745e5d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_sectioncourseterm_section_id_80745e5d ON public.ucap_backend_sectioncourseterm USING btree (section_id);


--
-- Name: ucap_backend_sectioncourseunit_section_course_term_id_488ba09c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_sectioncourseunit_section_course_term_id_488ba09c ON public.ucap_backend_sectioncourseunit USING btree (section_course_term_id);


--
-- Name: ucap_backend_student_section_id_a6848c59; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_student_section_id_a6848c59 ON public.ucap_backend_student USING btree (section_id);


--
-- Name: ucap_backend_user_department_id_3991741f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_department_id_3991741f ON public.ucap_backend_user USING btree (department_id);


--
-- Name: ucap_backend_user_email_e1dd4cad_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_email_e1dd4cad_like ON public.ucap_backend_user USING btree (email varchar_pattern_ops);


--
-- Name: ucap_backend_user_groups_group_id_0abca05b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_groups_group_id_0abca05b ON public.ucap_backend_user_groups USING btree (group_id);


--
-- Name: ucap_backend_user_groups_user_id_61dac4e2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_groups_user_id_61dac4e2 ON public.ucap_backend_user_groups USING btree (user_id);


--
-- Name: ucap_backend_user_user_permissions_permission_id_5baf6444; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_user_permissions_permission_id_5baf6444 ON public.ucap_backend_user_user_permissions USING btree (permission_id);


--
-- Name: ucap_backend_user_user_permissions_user_id_e3b7c1e1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_user_permissions_user_id_e3b7c1e1 ON public.ucap_backend_user_user_permissions USING btree (user_id);


--
-- Name: ucap_backend_user_user_role_id_6a1cb5a9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ucap_backend_user_user_role_id_6a1cb5a9 ON public.ucap_backend_user USING btree (user_role_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessmentcourseoutcome ucap_backend_assessm_assessment_id_3d651e2b_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessmentcourseoutcome
    ADD CONSTRAINT ucap_backend_assessm_assessment_id_3d651e2b_fk_ucap_back FOREIGN KEY (assessment_id) REFERENCES public.ucap_backend_assessment(assessment_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessment ucap_backend_assessm_blooms_classificatio_f05f35da_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessment
    ADD CONSTRAINT ucap_backend_assessm_blooms_classificatio_f05f35da_fk_ucap_back FOREIGN KEY (blooms_classification_id) REFERENCES public.ucap_backend_bloomsclassification(blooms_classification_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessmentcourseoutcome ucap_backend_assessm_course_outcome_id_3c64adc7_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessmentcourseoutcome
    ADD CONSTRAINT ucap_backend_assessm_course_outcome_id_3c64adc7_fk_ucap_back FOREIGN KEY (course_outcome_id) REFERENCES public.ucap_backend_courseoutcome(course_outcome_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessment ucap_backend_assessm_section_component_id_c03ab327_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessment
    ADD CONSTRAINT ucap_backend_assessm_section_component_id_c03ab327_fk_ucap_back FOREIGN KEY (section_component_id) REFERENCES public.ucap_backend_sectioncoursecomponent(section_course_component_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_assessment ucap_backend_assessm_section_id_c565434b_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_assessment
    ADD CONSTRAINT ucap_backend_assessm_section_id_c565434b_fk_ucap_back FOREIGN KEY (section_id) REFERENCES public.ucap_backend_section(section_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_college ucap_backend_college_campus_id_97364102_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_college
    ADD CONSTRAINT ucap_backend_college_campus_id_97364102_fk_ucap_back FOREIGN KEY (campus_id) REFERENCES public.ucap_backend_campus(campus_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_credit_id_8e50cf94_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_credit_id_8e50cf94_fk_ucap_back FOREIGN KEY (credit_id) REFERENCES public.ucap_backend_credit(credit_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_program_id_9146d605_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_program_id_9146d605_fk_ucap_back FOREIGN KEY (program_id) REFERENCES public.ucap_backend_program(program_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_semester_id_dd10f76a_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_semester_id_dd10f76a_fk_ucap_back FOREIGN KEY (semester_id) REFERENCES public.ucap_backend_semester(semester_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_course ucap_backend_course_year_level_id_a12c48b6_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_course
    ADD CONSTRAINT ucap_backend_course_year_level_id_a12c48b6_fk_ucap_back FOREIGN KEY (year_level_id) REFERENCES public.ucap_backend_yearlevel(year_level_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_coursecomponent ucap_backend_coursec_course_unit_id_c2312787_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_coursecomponent
    ADD CONSTRAINT ucap_backend_coursec_course_unit_id_c2312787_fk_ucap_back FOREIGN KEY (course_unit_id) REFERENCES public.ucap_backend_courseunit(course_unit_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_courseoutcome ucap_backend_courseo_course_id_a81637dd_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseoutcome
    ADD CONSTRAINT ucap_backend_courseo_course_id_a81637dd_fk_ucap_back FOREIGN KEY (course_id) REFERENCES public.ucap_backend_course(course_code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_courseterm ucap_backend_courset_loaded_course_id_1f1b5b0b_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseterm
    ADD CONSTRAINT ucap_backend_courset_loaded_course_id_1f1b5b0b_fk_ucap_back FOREIGN KEY (loaded_course_id) REFERENCES public.ucap_backend_loadedcourse(loaded_course_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_courseunit ucap_backend_courseu_course_term_id_d97718ea_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_courseunit
    ADD CONSTRAINT ucap_backend_courseu_course_term_id_d97718ea_fk_ucap_back FOREIGN KEY (course_term_id) REFERENCES public.ucap_backend_courseterm(course_term_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_department ucap_backend_departm_campus_id_7a27ea51_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_department
    ADD CONSTRAINT ucap_backend_departm_campus_id_7a27ea51_fk_ucap_back FOREIGN KEY (campus_id) REFERENCES public.ucap_backend_campus(campus_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_department ucap_backend_departm_college_id_5267ab2b_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_department
    ADD CONSTRAINT ucap_backend_departm_college_id_5267ab2b_fk_ucap_back FOREIGN KEY (college_id) REFERENCES public.ucap_backend_college(college_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_loadedcourse ucap_backend_loadedc_academic_year_id_714beb22_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_loadedcourse
    ADD CONSTRAINT ucap_backend_loadedc_academic_year_id_714beb22_fk_ucap_back FOREIGN KEY (academic_year_id) REFERENCES public.ucap_backend_academicyear(academic_year_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_loadedcourse ucap_backend_loadedc_course_id_d9340704_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_loadedcourse
    ADD CONSTRAINT ucap_backend_loadedc_course_id_d9340704_fk_ucap_back FOREIGN KEY (course_id) REFERENCES public.ucap_backend_course(course_code) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_outcomemapping ucap_backend_outcome_course_outcome_id_f5694ff0_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_outcomemapping
    ADD CONSTRAINT ucap_backend_outcome_course_outcome_id_f5694ff0_fk_ucap_back FOREIGN KEY (course_outcome_id) REFERENCES public.ucap_backend_courseoutcome(course_outcome_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_outcomemapping ucap_backend_outcome_program_outcome_id_9edd567f_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_outcomemapping
    ADD CONSTRAINT ucap_backend_outcome_program_outcome_id_9edd567f_fk_ucap_back FOREIGN KEY (program_outcome_id) REFERENCES public.ucap_backend_programoutcome(program_outcome_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_program ucap_backend_program_department_id_8b24d1a6_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_program
    ADD CONSTRAINT ucap_backend_program_department_id_8b24d1a6_fk_ucap_back FOREIGN KEY (department_id) REFERENCES public.ucap_backend_department(department_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_programoutcome ucap_backend_program_program_id_64a87f2e_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_programoutcome
    ADD CONSTRAINT ucap_backend_program_program_id_64a87f2e_fk_ucap_back FOREIGN KEY (program_id) REFERENCES public.ucap_backend_program(program_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_rawscore ucap_backend_rawscor_assessment_id_ebe236da_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscor_assessment_id_ebe236da_fk_ucap_back FOREIGN KEY (assessment_id) REFERENCES public.ucap_backend_assessment(assessment_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_rawscore ucap_backend_rawscor_student_id_c298d916_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_rawscore
    ADD CONSTRAINT ucap_backend_rawscor_student_id_c298d916_fk_ucap_back FOREIGN KEY (student_id) REFERENCES public.ucap_backend_student(student_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_section ucap_backend_section_instructor_assigned__76a588c7_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_section
    ADD CONSTRAINT ucap_backend_section_instructor_assigned__76a588c7_fk_ucap_back FOREIGN KEY (instructor_assigned_id) REFERENCES public.ucap_backend_user(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_section ucap_backend_section_loaded_course_id_c1a746bd_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_section
    ADD CONSTRAINT ucap_backend_section_loaded_course_id_c1a746bd_fk_ucap_back FOREIGN KEY (loaded_course_id) REFERENCES public.ucap_backend_loadedcourse(loaded_course_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_sectioncourseunit ucap_backend_section_section_course_term__488ba09c_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_sectioncourseunit
    ADD CONSTRAINT ucap_backend_section_section_course_term__488ba09c_fk_ucap_back FOREIGN KEY (section_course_term_id) REFERENCES public.ucap_backend_sectioncourseterm(section_course_term_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_sectioncoursecomponent ucap_backend_section_section_course_unit__d6e28ac0_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_sectioncoursecomponent
    ADD CONSTRAINT ucap_backend_section_section_course_unit__d6e28ac0_fk_ucap_back FOREIGN KEY (section_course_unit_id) REFERENCES public.ucap_backend_sectioncourseunit(section_course_unit_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_sectioncourseterm ucap_backend_section_section_id_80745e5d_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_sectioncourseterm
    ADD CONSTRAINT ucap_backend_section_section_id_80745e5d_fk_ucap_back FOREIGN KEY (section_id) REFERENCES public.ucap_backend_section(section_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_student ucap_backend_student_section_id_a6848c59_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_student
    ADD CONSTRAINT ucap_backend_student_section_id_a6848c59_fk_ucap_back FOREIGN KEY (section_id) REFERENCES public.ucap_backend_section(section_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user ucap_backend_user_department_id_3991741f_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_department_id_3991741f_fk_ucap_back FOREIGN KEY (department_id) REFERENCES public.ucap_backend_department(department_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user_groups ucap_backend_user_gr_user_id_61dac4e2_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_groups
    ADD CONSTRAINT ucap_backend_user_gr_user_id_61dac4e2_fk_ucap_back FOREIGN KEY (user_id) REFERENCES public.ucap_backend_user(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user_groups ucap_backend_user_groups_group_id_0abca05b_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_groups
    ADD CONSTRAINT ucap_backend_user_groups_group_id_0abca05b_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user_user_permissions ucap_backend_user_us_permission_id_5baf6444_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_user_permissions
    ADD CONSTRAINT ucap_backend_user_us_permission_id_5baf6444_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user_user_permissions ucap_backend_user_us_user_id_e3b7c1e1_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user_user_permissions
    ADD CONSTRAINT ucap_backend_user_us_user_id_e3b7c1e1_fk_ucap_back FOREIGN KEY (user_id) REFERENCES public.ucap_backend_user(user_id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: ucap_backend_user ucap_backend_user_user_role_id_6a1cb5a9_fk_ucap_back; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ucap_backend_user
    ADD CONSTRAINT ucap_backend_user_user_role_id_6a1cb5a9_fk_ucap_back FOREIGN KEY (user_role_id) REFERENCES public.ucap_backend_userrole(user_role_id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict J2R9qRWfC3KicMc3t4bHJgMU8TifdHMUJweKT9Zai9XTFHTImAi6yBuH6HoKTEa

