/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import "tailwindcss";

/* Global Styles */
html {
  font-size: 13px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: #3E3E3E;
}

/* Custom Variables */
:root {
  --ucap-yellow: #FCB315;
  --ucap-blue: #1A1851;
}

/* Background Classes */
.bg-ucap-yellow {
  background-color: var(--ucap-yellow);
}

.bg-ucap-yellow-hover:hover {
  background-color: #e6a400;
}

.bg-coa-yellow {
  background-color: #FCF305;
}

.bg-light-blue {
  background-color: #99CCFF;
}

.bg-dark-blue {
  background-color: #1F3864;
}

.bg-bright-yellow {
  background-color: #FCF305;
}

.bg-green {
  background-color: #70AD47;
}

/* Text Color Classes */
.text-ucap-yellow {
  color: var(--ucap-yellow);
}

.text-coa-red {
  color: #9C0006;
}

.text-coa-blue {
  color: #333399;
}

.text-ucap-blue {
  color: var(--ucap-blue);
}

/* Border Classes */
.border-coa-gray {
  border-color: #e8e2e2;
}

/* Focus Styles */
.focus-ring-ucap-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--ucap-blue);
}

/* Font Classes */
.font-tilt-warp {
  font-family: "Tilt Warp", sans-serif;
}

/* Input Spinner Removal */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Table Cell Defaults */
.table-cell-default {
  min-width: 50px;
  padding: 5px;
  text-align: center;
}